
@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/pacifico-webfont.woff2') format('woff2'),
       url('../fonts/pacifico-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: Pacifico, 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans CN', 'Source Han Sans SC', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
}
body {
  color: #767671;
  background: #D8D8D3;
  font-size: 14px;
  text-align: center;
}
body, h1, h2, p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 48px;
  font-weight: normal;
  color: #515250;
}
h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
}
a {
  color: #BE867F;
  transition: .25s all ease-in-out;
}
a:hover {
  color: #A56A63;
}
header, footer {
  padding: 128px 0;
}

.gallery {
  margin-bottom: 128px;
}
.screenshot {
  padding: 12px 24px;
}
.cta {
  padding: 13px 26px;
  color: #FFF;
  background: #BE867F;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}
.cta:hover {
  color: #FFF;
  background: #A56A63;
}

.terms {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: sans-serif;
  text-align: left;
}
.terms h1,
.terms h2,
.terms h3,
.terms h4,
.terms p,
.terms li {
  margin-bottom: 12px;
}
.terms h2 {
  margin-top: 36px;
  font-weight: bold;
}
