@charset "UTF-8";

html {
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
body {
    color: #a59685;
    background: #ebe7e1;
    font-size: 14px;
}
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 36px;
    font-weight: normal;
}
h2 {
    font-size: 36px;
    font-weight: normal;
}
h3 {
    font-size: 14px;
    font-weight: normal;
}
header {
    padding: 25px 0;
    color: #83988a;
    background: #f4f1ee;
    text-align: center;
}
section {
    width: 960px;
    margin: 0 auto;
}
footer {
    padding: 58px 0 24px 0;
    color: #ebe7e1;
    background: #a59685;
    text-align: center;
}
p {
    font-weight: normal;
}

.head, .tail {
    padding: 160px 0;
    text-align: center;
}
.app-icon {
    width: 100px;
}
.head h1 {
    padding: 18px 0 0 0;
}
.head p {
    padding: 0 0 70px 0;
}
.call-to-action {
    width: 160px;
    padding: 14px 58px;
    color: #ebe7e1;
    background: #83988a;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}
.call-to-action:hover {
    background: #6D8274;
}

.part {
    padding: 88px 0 128px 0;
    clear: both;
    overflow: hidden;
}

.img-part {
    float: left;
    width: 41.667%;
    text-align: center;
}
.img-part img {
    display: inline-block;
}
.text-part {
    float: left;
    width: 58.333%;
    padding: 90px 28px;
    box-sizing: border-box;
}
.text-part h2 {
    display: inline-block;
    margin: 0 0 28px 0;
    padding: 0 2px;
    color: #fff;
    background: #BE867F;
    vertical-align: middle;
}
.text-part p {
    font-size: 18px;
}

.tail-content {
    padding: 45px 0 45px 0;
}
footer p {
    padding: 0 0 28px 0;
}